body{
    background-size: cover;
    font-family: 'source sans pro';
    transition: background 1s ease-in-out;
    overflow: hidden;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
.editMode{
    transform: translate(20em);
    transition: all .3s ease-in-out;
}
@keyframes fade-and-scale{
    0%{
        transform: scale(.9, .9);
    }
    100%{

    }
}
@keyframes fade-and-slide{
    0%{
        transform: translateY(2em);
    }
    100%{
        
    }
}
.mainContent{
    position: absolute;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: auto;
}
.quickLinksContainer{
    z-index: 100;
    position: fixed;
    height:5.5em;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(0,0,0,.8);
    border-radius: 4px;
    box-shadow: 0 0 20px black;
    animation: .4s fade-and-slide;
    overflow-x: auto;
}
.quickLinksContainer .overlay ,.quickLinksPreview .overlay{
    background: rgba(0,0,0,.6);
}
.overlay, .blur{
    height:100%;
    width:100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.overlay{
    background: rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
}
.blur{
    z-index: -1;
/*    background: url(../images/wp1.jpg);*/
    transition: background 1s ease-in-out;
    background-size: cover;
    transform: translate(0,0);
}
.quickLink, .quickLinkPreview{
    z-index: 2;
    height:4em;
    width:11em;
    margin: .5em;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Source sans pro';
    box-shadow: 0 0 20px black;
    color:white;
    animation: fade-and-scale .3s;
}
.quickLink img, .quickLinkPreview img, .widgetSelect img, .quicklinkSelect img{
    max-height: 2em;
    margin: 1em auto;
}
.widgetContainer{
    width:100%;
    max-width: 80em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*
    overflow-y: scroll;  has to be scroll, not auto 
  -webkit-overflow-scrolling: touch;
*/
    animation: .5s fade-and-scale;
}
.widget{
    position: relative;
    height:15em;
    width:20em;
    margin: 1em;
/*    border: .1em solid rgba(255,255,255,.5);*/
    display: none;
    
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    transition: all .15s ease-in-out;
    overflow: auto;
}
/*
.widget:hover{
    outline: .2em solid dodgerblue;
    box-shadow: 0 0 10px dodgerblue !important;
}
*/
.widget:hover .widgetButtonHolder{
    opacity: 1;
    transform: translateY(-3em);
    transition: all .15s ease-in-out;
}
.widget:hover .overlay{
    background: rgba(0,0,0,.2);
    transition: all .3s ease-in-out;
}
.widget img{
    z-index: 1;
    max-height: 3em;
    margin: auto;
}
.widgetButtonHolder{
    position: absolute;
    height:3em;
    width:100%;
    bottom:0;
    opacity: 0;
    display: flex;
    box-shadow: 0 0 10px black;
    transition: all .15s ease-in-out;
}
.widgetButtonHolder a{
    height:100%;
    width:100%;
    margin: 0 auto;
    line-height: 2.8em;
    text-align: center;
    text-decoration: none;
    color:white;
    outline: .1em solid rgba(0,0,0,.2);
    transition: all .15s ease-in-out;
}
.widgetButtonHolder a:hover{
    background:rgba(255,255,255,.3);
    transition: all .15s ease-in-out;
}
.bumper{
    height:5.5em;
    width:100%;
}

form, .form{
    z-index: 2;
    height:3em;
    display: flex;
    border: none;
}
.searchbar{
    width:75%;
    background: rgba(255,255,255,.8);
    border:none;
    padding: .3em;
    font-size: 1.3em;
    color:black;
}
.searchbar:focus{
    box-shadow: none;
    outline:none;
}
.searchButton{
    width:25%;
    background: rgba(0,0,0,.3);
    border:none;
    color:white;
}
#widget7{
    overflow: hidden;
}
.widget #widget5{
    overflow: hidden;
}
#widget5 h3{
    text-align: center;
    color: white;
}
#widget5 .form{
    display:none;
}
#widget5:hover{
    height:26em;
}
#widget5:hover .form{
    display: inherit;
}
#widget5:hover iframe{
    display: inherit;
    height:88.5%;
}
#widget5:hover img, #widget5:hover h3{
    display: none;
}
#widget5 iframe{
    display: none;
    position: absolute;
    width: 100%;
    
}
.calculator{
    height:100%;
    display: flex;
    flex-direction: column;
}
.display{
    background: rgba(255,255,255,.8);
    padding: .4em;
    width: 14.6em;
    height:2em;
    font-size: 1.3em;
    text-align: right;
    border: none;
}
.calcRow{
    display: flex;
    height:2.3em;
}
.calcButton{
    height:2.3.25em;
    width: 100%;
    border: none;
    background: rgba(255,255,255,.5);
    outline:None;
    outline:.1em solid rgba(0,0,0,.3);
}
#reset{
    width:75%;
}
#divide{
    width:25%;
}
#operand, #equalSign, #divide{
    background: rgba(0,0,0,.3);
    color: white;
    outline: .1em solid rgba(255,255,255,.5);
}
.iframeHolder{
    height:34%;
}

.settings{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: 'source sans pro';
}
.sidebar{
    position: relative;
    z-index: 100;
    height:100%;
    width:25%;
    max-width: 30em;
    min-width: 20em;
    background: rgba(0,0,0,.3);
    color: white;
    
    text-align: center;
    box-shadow: 0 0 10px black;
}
.sidebar h2{
    margin: 0 auto;
    height:3em;
    z-index: 100;
    line-height: 3em;
    background: rgba(0,0,0,.3);
    box-shadow: 0 1px 0px black;
}
.sidebar h2:hover{
    background: rgba(255,255,255,.2);
    transition: all .15s ease-in-out;
}
#done{
    position: absolute;
    bottom: 0;
    width:100%;
    height:3em;
    text-align: center;
    line-height: 3em;
    background: dodgerblue;
    color: white;
}
.settingsContent{
    position: relative;
    height:100%;
    width: inherit;
    overflow: auto;
}
.settingsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
        animation: fade-and-slide .3s;
}
.sectionHeader, .subSectionHeader{
    height:2.6em;
    margin: 0;
    width: 100%;
    line-height: 2.5em;
    background: rgba(0,0,0,.3);
    color: white;
}
.sectionHeaderOutline{
    position: absolute;
    height:2.6em;
    width:100%;
}
.subSectionHeader{
    background: rgba(0,0,0,.6);
    line-height: inherit;
    height: 1.5em;
}
/*Background Settings*/
.subSection{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: white;
    background: rgba(0,0,0,.4);
}
.wallpaper, .customWP{
    height:15em;
    width:15em;
    margin:1em;
    box-shadow: 0 0 10px black;
    background-size: cover;
}
.wallpaper:nth-child(1){
    background: url(../images/wp1.jpg) center;
    background-size: cover;
}
.wallpaper:nth-child(2){
    background: url(../images/wp2.jpg);
    background-size: cover;
}
.wallpaper:nth-child(3){
    background: url(../images/wp3.jpg);
    background-size: cover;
}
.wallpaper:nth-child(4){
    background: url(../images/wp4.jpg);
    background-size: cover;
}
.customWP{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.7);
    background-size: contain;
}
.uploadBox{
    margin-bottom: 0;
    height:3em;
    display: flex;
    bottom: 0;
}
.uploadBox input{
    width:65%;
}
.uploadBox h2{
    width:35%;
    height: 100%;
    margin: auto;
    line-height: 2em;
    background: rgba(0,0,0,.3);
    color: white;
}
.customWallpaperPreview{
    height: 80%;
    background-size: cover;
}

.widgetSelectorContainer, .quicklinkSelector{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.widgetSelect{
    position: relative;
    height:15em;
    width:20em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    transition: all .15s ease-in-out;
    overflow: auto;
}
.quicklinkSelect{
    margin: 1em;
    height:7em;
    width:14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    transition: all .15s ease-in-out;
}

.quickLinksPreview{
    position: fixed;
    height:5.5em;
    left: 22em;
    right:0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 0 20px black;
    animation: .4s fade-and-slide;
    overflow-x: auto;
}
.signup{
    width: 10em;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1em;
}
.signup input{
    border:none;
    outline: none;
    background: none;
    font-size: 1.3em;
    color: white;
    border: .1em solid rgba(250,250,250,.6);
    box-shadow: 0 0 10px black;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
.signup input:hover{
    background: rgba(200,200,200,.5);
    transition: all .3s ease-in-out;
}

#quickLink1, #qpreview1, .quicklinkSelect:nth-child(1){
    background:rgba(100,200,100,.4);
}
#quickLink2, #qpreview2, .quicklinkSelect:nth-child(2){
    background:rgba(100,200,100,.4)
}
#quickLink3, #qpreview3, .quicklinkSelect:nth-child(3){
    background-color:rgba(36, 116, 237, 0.4)
}
#quickLink4, #qpreview4, .quicklinkSelect:nth-child(4){
    background-color:rgba(59, 89, 152, 0.5)
}
#quickLink5, #qpreview5, .quicklinkSelect:nth-child(5){
    background-color:rgba(22, 185, 237, .5)
}
#quickLink6, #qpreview6, .quicklinkSelect:nth-child(6){
    background-color:rgba(203, 32, 39, .7)
}
#quickLink7, #qpreview7, .quicklinkSelect:nth-child(7){
    background-color:rgba(185,9,11, 0.6)
}
#quickLink8, #qpreview8, .quicklinkSelect:nth-child(8){
    background-color:rgba(89, 202, 41, .7)
}
#quickLink9, #qpreview9, .quicklinkSelect:nth-child(9){
    background-color:rgba(255, 146, 1, .7)
}
#quickLink10, #qpreview10, .quicklinkSelect:nth-child(10){
    background-color: rgba(204, 0, 0, .7)
}

.selected{
    outline: .2em solid dodgerblue;
    box-shadow: 0 0 20px dodgerblue !important;
    transition: all .15s ease-in-out;
}





































